In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# csv_file0601 = '../../data/processed/advised_portfolios-0601.dat'
# df = pd.read_csv(csv_file0601, parse_dates=['date'])

In [3]:
# df.date = df.date.dt.strftime('%Y-%m-%d')

In [4]:
# df.to_pickle('../../data/processed/advised_portfolios-0601_new.pkl')

In [2]:
access_path = '../../data/processed/'
filename = ['advised_portfolios.pkl', 'advised_portfolios-0831.pkl']
full_path = [access_path + file_nm for file_nm in filename]

In [3]:
ports = [pd.read_pickle(file) for file in full_path]

In [4]:
ports[0]

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2019-01-02,2,A273130,0.240000,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,104320.0,26468.0,858.104496,Fixed Income
1,2019-01-02,2,A214980,0.240000,MM_PLUS,KODEX 단기채권PLUS,100050.0,10160.0,508.874866,Fixed Income
2,2019-01-02,2,A196230,0.207716,BOK_D.4,KBSTAR 단기통안채,101423.0,393085.0,16568.430895,Fixed Income
3,2019-01-02,2,A114260,0.100000,KTB_D3,KODEX 국고채3년,55690.0,5449.0,251.127486,Fixed Income
4,2019-01-02,2,A122260,0.092284,BOK_D1,KOSEF 통안채1년,97761.0,42453.0,13238.397304,Fixed Income
...,...,...,...,...,...,...,...,...,...,...
21968,2021-08-31,4,A157490,0.240000,SW,TIGER 소프트웨어,18645.0,84708.0,2122.595342,Equity
21969,2021-08-31,4,A278540,0.240000,MSCI_KR,KODEX MSCI Korea TR,13490.0,292043.0,8089.677880,Equity
21970,2021-08-31,4,A102780,0.136000,SAMSUNG_FN,KODEX 삼성그룹,10555.0,676278.0,4899.689407,Equity
21971,2021-08-31,4,A069500,0.084000,K200,KODEX 200,41985.0,3682317.0,202656.938475,Equity
21972,2021-08-31,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,58140.0,8796.0,496.245486,Fixed Income

In [5]:
# 마지막 거래일의 advised pf를 휴일로 복사하는 코드 시작
# ports[1] = ports[1].loc[ports[1].date <= '2021-07-30', :]

In [6]:
# df_temp = ports[1].loc[ports[1].date == '2021-07-30', :].copy()

In [7]:
# df_temp.date = '2021-07-31'

In [8]:
# df_temp2 = ports[1].loc[ports[1].date == '2021-07-30', :].copy()
# df_temp2.date = '2021-08-01'

In [9]:
# ports[1] = pd.concat((ports[1], df_temp2), axis=0)

In [10]:
# ports[1].loc[ports[1].date>='2021-07-30', :].tail(60)

In [11]:
df = pd.concat(ports, axis=0)
df = df.reset_index(drop=True)

In [12]:
df

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2019-01-02,2,A273130,0.240000,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,104320.0,26468.0,858.104496,Fixed Income
1,2019-01-02,2,A214980,0.240000,MM_PLUS,KODEX 단기채권PLUS,100050.0,10160.0,508.874866,Fixed Income
2,2019-01-02,2,A196230,0.207716,BOK_D.4,KBSTAR 단기통안채,101423.0,393085.0,16568.430895,Fixed Income
3,2019-01-02,2,A114260,0.100000,KTB_D3,KODEX 국고채3년,55690.0,5449.0,251.127486,Fixed Income
4,2019-01-02,2,A122260,0.092284,BOK_D1,KOSEF 통안채1년,97761.0,42453.0,13238.397304,Fixed Income
...,...,...,...,...,...,...,...,...,...,...
22598,2021-09-30,4,A157490,0.240000,SW,TIGER 소프트웨어,16260.0,156672.0,2448.023181,Equity
22599,2021-09-30,4,A278540,0.240000,MSCI_KR,KODEX MSCI Korea TR,12875.0,285784.0,7925.438872,Equity
22600,2021-09-30,4,A102780,0.136000,SAMSUNG_FN,KODEX 삼성그룹,10075.0,186559.0,4535.938630,Equity
22601,2021-09-30,4,A069500,0.084000,K200,KODEX 200,40195.0,6593205.0,201880.214928,Equity
22602,2021-09-30,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,57760.0,27005.0,509.826808,Fixed Income

In [13]:
df.to_pickle(access_path + 'advised_portfolios.pkl')

In [14]:
import datetime
# BDay is business day, not birthday...
from pandas.tseries.offsets import BDay

today = datetime.datetime.today()
print(today - BDay(1))

2021-09-30 07:55:55.205775